.d-flex.flex-column.flex-shrink-0.bg-body-tertiary{
    background-color: #212529 !important
}

.text-end {
    text-align: right !important;
    display: flex;
    flex-direction: row;
    width: max-content;
    padding-right: 30px;
}

body {
    background-color: #121212 !important;
    position: relative;
}

.first1{
    background-image: url("./images/bg1.png");
    padding-top: 6%;
    padding-bottom: 2%;
}

.row-cols-5>* {
    flex: 0 0 auto;
    width: 20%;
    padding-left: 0px !important;

}

.home-col{
    background-color: #484747;
    margin:15px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    opacity: 0.8;
}

.home-col:hover{
    cursor:pointer;
    box-shadow: 0 0 20px coral;
    
}

.home-col h6{
    display: flex;
    flex-direction: column;
    align-items:start;
    justify-content: center;
    margin-left: 20px ;
    color:rgb(255, 255, 255) ;
    font-weight: bold;
}

.home-col svg{
    background-color: crimson;
    padding:10px;
}

.first-row{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-left: 0px;
}


.first2{
    background-image: url("./images/bg.png");
    width: 1280px !important;
    height: 400px !important;
}

.navbar{
    height:10%;
}

.search-container{
    padding-top: 26px;
}

.search-input {
    padding: 10px 10px 10px 35px;
    width: 60%;
    border: 1px solid #ccc;
    border-radius: 40px;
    outline: none;
}

.search-icon {
    transform: translateY(-140%) translateX(20%);
    width: 25px;
    height: 25px;
    background-image: url(./images/search.png);
    background-size: cover;
    cursor:pointer;
    transition: opacity 1s ease-in; 
}

.search-icon:hover {
    opacity: 0.5;
  }

.card{
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    border: 1px solid #ccc;
}

.card:hover{
    box-shadow: 0 0 20px rgb(233, 26, 26);
    color: rgb(233, 26, 26);
}

.play-img {
    transition: filter 0.3s ease-in-out; /* add a smooth transition effect */
}

.play-img {
    cursor: pointer;
    width: 30px;
    height: 30px;
    position: relative;
    margin-left: 2px;
}

.card-title{
    cursor:default;
}

.bi-person-circle{
    transform: translateY(80%) translateX(-400%);
    cursor: pointer;
}

.hov:hover{
    opacity:0.5;
}

.card-title{
    cursor:default;
}
.card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.bottom-play-bar{
    z-index: 10;
    position:sticky;
    bottom:0;
    width: 100%;
    height: 110px;
    background-color: #000000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 9px;
    padding-bottom: 23px;  
    cursor:default;
}

.bar-img{
    padding: 19px;
    cursor: pointer;
}

#myplaybar{
    width: 40%;
    height: 20px;
    cursor: pointer;
}


.d-flex.flex-column.flex-shrink-0.bg-body-tertiary {
    position: fixed; /* Add this to make the sidebar fixed */
    top: 0; /* Set the top position to 0 */
    left: 0; /* Set the left position to 0 */
    width: 4.5rem; /* Keep the width as is */
    height: 100vh; /* Set the height to full viewport height */
    overflow-y: auto; /* Add this to enable scrolling if the content exceeds the height */
    z-index: 1; /* Add this to ensure the sidebar is on top of other elements */
  }
